@font-face {
    font-family: "MassTransitMono";
    src: url("assets/fonts/masstransitmono_regular_v1.1-webfont.woff2") format("woff2");
}

body {
    background-color: black;
    height: 100%;
    overflow: hidden;
    font-family: "MassTransitMono", monospace;
}

.container {
    border: 2px dotted white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    font-size: 5em;
    font-family: "MassTransitMono";
    color: orange;
}

/* this should be aligned on the left on the same line as the status */
.time {
    color: orange;
}

/* this should be aligned on the right on the same line as the time */
.status {
    color: orange;
}

.subtitle {
    font-size: 1em;
    margin-top: 8px;
}

.subsubtitle {
    font-size: .95em;
    font-family: 'NectoMono', monospace;
    margin-top: 4px;
}

.page {
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    border: 2px solid white;
    font-size: 1em;
    justify-content: left;
}

.fancy-link {
    color: #466a4c;
    transition: color .1s, background-color .1s;
    background-color: #7d968266;
    text-decoration: none;
    border-radius: 4px;
    padding: .16em .3em;
    margin: -.2em 0;
    line-height: 1.7;
    white-space: nowrap;
    flex-direction: row
}

p, a {
    font-size: 3em;
    color: white;
    text-decoration: none;
    font-weight: lighter;
}