@font-face {
    font-family: "MassTransitMono";
    src: url("assets/fonts/masstransitmono_regular_v1.1-webfont.woff2") format("woff2");
}


/* ELEMENT STYLING */
body {
    background-color: #0A0A0A;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "MassTransitMono", monospace;
    color: orange;
}

main {
    border: 3px solid white;
    width: 400px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 166, 0, 0.05);
    border: 10px solid #0a0a0a;
    border-bottom: none;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #0a0a0a;
    border: 10px solid #0a0a0a;
    margin-top: 217px;
}



/* HEADER CONTENT STYLING */
#time {
    color: orange;
    font-size: 3em;
    height: fit-content;
    width: fit-content;
    margin: 5px 12.5px 5px 5px;
}

.status {
    font-size: 2.01em;
    height: fit-content;
    width: fit-content;
    float: right;
    margin: 5px 5px 5px 12.5px;
}

.status p, .status a {
    margin: 0;
    color: orange;
    text-decoration: none;

}



/* FOOTER CONTENT STYLING */
.left, .right {
    margin: 5px;
    font-size: 1.5rem;
    line-height: 1;
}

.left a, .right a {
    margin: 0px;
    color: orange;
    text-decoration: none;
}



/* MAIN CONTENT STYLING */
.title {
    background-color: rgba(255, 166, 0, 0.05);
    border: 10px solid #0a0a0a;
    border-top: none;
}

.title p {
    font-size: 2.6em;
    font-family: "MassTransitMono";
    color: orange;
    margin: 5px;
}

.entry {
    background-color: rgba(255, 166, 0, 0.05);
    border: 10px solid #0a0a0a;
    border-top: none;
    border-bottom: 5px solid #0a0a0a;
}

.entry a {
    font-size: 1.5em;
    margin: 5px;
    text-decoration: none;
    color: orange;
}

.subtitle {
    background-color: rgba(255, 166, 0, 0.05);
    border: 10px solid #0a0a0a;
    border-top: none;
    border-bottom: none;
}

.subtitle p {
    font-size: 1.5em;
    font-family: "MassTransitMono";
    color: orange;
    margin: 5px;
}

.textblock {
    background-color: rgba(255, 166, 0, 0.05);
    border: 10px solid #0a0a0a;
    border-top: none;
    border-bottom: 5px solid #0a0a0a;
}

.textblock p {
    font-size: 1em;
    font-family: "MassTransitMono";
    color: white;
    margin: 5px;
}

.textblock a {
  color: lightblue;
  font-size: 1em;
}