@font-face {
    font-family: "MassTransitMono";
    src: url("assets/fonts/masstransitmono_regular_v1.1-webfont.woff2") format("woff2");
}

body {
    background-color: #0A0A0A;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "MassTransitMono", monospace;
    color: orange;
}


.box {
    border: 3px solid white;
    width: 400px;
    height: 600px;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


div {
    display: block;
    unicode-bidi: isolate;
}

#time {
    color: orange;
    font-size: 3em;
    height: fit-content;
    width: fit-content;
    margin: 5px 12.5px 5px 5px;
}

#status {
    font-size: 2.01em;
    height: fit-content;
    width: fit-content;
    float: right;
    margin: 5px 5px 5px 12.5px;
}

#status p {
    margin: 0;
    color: orange;
}

#status a {
    margin: 0;
    color: orange;
    text-decoration: none;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 166, 0, 0.05);
    border: 10px solid #0a0a0a;
    border-bottom: none;
}

.title {
    background-color: rgba(255, 166, 0, 0.05);
    border: 10px solid #0a0a0a;
    border-top: none;
}

.title p {
    font-size: 2.6em;
    font-family: "MassTransitMono";
    color: orange;
    margin: 5px;
}

.entry {
    background-color: rgba(255, 166, 0, 0.05);
    border: 10px solid #0a0a0a;
    border-top: none;
    border-bottom: 5px solid #0a0a0a;
}

.entry a {
    font-size: 1.5em;
    margin: 5px;
    text-decoration: none;
}

.subtitle {
    background-color: rgba(255, 166, 0, 0.05);
    border: 10px solid #0a0a0a;
    border-top: none;
    border-bottom: none;
}

.subtitle p {
    font-size: 1.5em;
    font-family: "MassTransitMono";
    color: orange;
    margin: 5px;
}

p, a {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: lighter;
    color: orange
}

.textblock {
    background-color: rgba(255, 166, 0, 0.05);
    border: 10px solid #0a0a0a;
    border-top: none;
    border-bottom: 5px solid #0a0a0a;
}

.textblock p {
    font-size: 1em;
    font-family: "MassTransitMono";
    color: white;
    margin: 5px;
}

.textblock a {
  color: lightblue;
  font-size: 1em;
}
