@font-face {
    font-family: "MassTransitMono";
    src: url("assets/fonts/masstransitmono_regular_v1.1-webfont.woff2") format("woff2");
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/* ELEMENT STYLING */
html, body {
    height: 100%
}

body {
    background-color: #0a0a0a;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "MassTransitMono", monospace;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 3px solid white;
    width: 400px;
    height: 600px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 166, 0, 0.05);
    border: 10px solid #0a0a0a;
    border-bottom: 5px solid #0a0a0a;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
    background-color: #0a0a0a;
    border: 10px solid #0a0a0a;
    height: 40px;
    margin-top: auto;
}

a {
    color: orange;
    text-decoration: none;
}

li {
    color: white;
}

h1 {
  margin: 0px 5px;
}

.button {
  margin: 10px;
}

/* HEADER CONTENT STYLING */
#time {
    font-size: 3em;
    height: fit-content;
    width: fit-content;
    margin: 5px 12.5px 5px 5px;
}

.status {
    font-size: 3.04em;
    height: fit-content;
    width: fit-content;
    margin: 5px 5px 5px 12.5px;
}

.status p {
    margin: 0;
}

/* MAIN CONTENT STYLING */
.title {
    background-color: rgba(255, 166, 0, 0.05);
    border: 10px solid #0a0a0a;
    border-top: none;
    border-bottom: 15px solid #0a0a0a;
}

.title p {
    font-size: 2.6em;
    font-family: "MassTransitMono";
    margin: 0px 5px 5px 5px;
}

.subtitle {
    background-color: rgba(255, 166, 0, 0.05);
    border: 10px solid #0a0a0a;
    border-top: none;
    border-bottom: 5px solid #0a0a0a;
}

.subtitle p {
    font-size: 1.5em;
    font-family: "MassTransitMono";
    margin: 0px 5px;
}

.entry {
    background-color: rgba(255, 166, 0, 0.05);
    border: 10px solid #0a0a0a;
    border-top: none;
    border-bottom: 5px solid #0a0a0a;
}

.entry a {
    font-size: 1.5em;
    margin: 0px 5px;
}

.textblock {
    background-color: rgba(255, 166, 0, 0.05);
    border: 10px solid #0a0a0a;
    border-top: none;
    border-bottom: 10px solid #0a0a0a;
    overflow-y: auto;
}

.textblock p {
    font-size: 1em;
    font-family: "MassTransitMono";
    color: white;
    margin: 2.5px 5px;
}

.textblock a {
  color: lightblue;
  font-size: 1em;
}


.scrolling-subtitle p {
    font-size: 1.5em;
    font-family: "MassTransitMono";
    margin: 0px 5px;
}

/* FOOTER CONTENT STYLING */
.left, .right {
    margin: 5px;
    font-size: 1.5rem;
    line-height: 1;
}

.left a, .right a {
    margin: 0px;
    color: orange;
    text-decoration: none;
}
