@font-face {
    font-family: "SpecialElite";
    src: url("SpecialElite.ttf"); format("ttf")
}

@font-face {
    font-family: "NectoMono";
    src: url("NectoMono-Regular.woff2"); format("woff2")
}

.container {
    width:100%;
    display: flex;
    justify-content: center;
}

.title {
    padding-bottom: .3em;
    font-size: 4em;
    font-family: SpecialElite;
}
